extends base.pug

block content 
    h1 #{title}
block main
    div
        p=video.description
        small=video.createdAt
    //- nav
    //-     ul 
    //-         li
    //-             a(href=video.id+"/edit") Edit Video
    //-         li 
    //-             a(href=video.id+"/delete") Delete Video
    a(href=video.id+"/edit") Edit Video
    br
    a(href=video.id+"/delete") Delete Video