extends ../base.pug

block content
    if errorMessage 
        p=errorMessage
    form(method="POST",enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(name="avatar",id="avatar",type="file",accept="image.*")
        input(name="name",type="text",required,value=user.name)
        input(name="email",type="email",required, value=user.email)
        input(name="username",type="text",required,value=user.username)
        input(name="location",type="text",required,value=user.location)
        input(value="Edit Profile",type="submit")
        if !user.githublogin
            div.edit-profile__password
                a(href="/users/change-password") Change Password &rarr;
